// .landing {
//     background-image: url("https://res.cloudinary.com/dendekky/image/upload/c_scale,h_1047,q_60/v1580633211/Beenah's/hannah-jacobson-pTfdcT0hxGc-unsplash_telwfc.jpg");
//     min-height: 100%;
//     min-width: 1024px;
      
//     /* Set up proportionate scaling */
//     width: 100%;
//     height: auto;
      
//     /* Set up positioning */
//     position: fixed;
//     top: 0;
//     left: 0;
// }
// .post-list {

// }
.side-content {
    padding: 0 15px 0 15px;
    .post-share {
        img {
            height: 30px;
            margin: 8px;
        }
    }
    .related-posts {
        // border: 1px solid #55555570;
        .single-post {
            // margin: 8px;
            transition: transform 1s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.discussions {
    font-weight: 700;
    font-size: xx-large;
}

.comments-number {
    font-size: x-large;
    font-style: italic;
    hyphens: auto;
}

.comment-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .comment-user {
        display: flex;
        align-items: flex-end;   
        div {
            text-transform: capitalize;
            font-weight: bold;
            margin-left: 10px;
        }
    }
    .comment-date {
        font-size: small;
    }
}
.comment-message {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    hyphens: auto;
    border-radius: 5px;
    p {
        margin-bottom: 0;
        padding-bottom: 0;
    };
    span {
        color: #ce67078e;
        cursor: pointer;
    };
}

.reply-form {
    margin-top: 24px;
    h4 {
        font-style: italic;
    }
}

.reply-input {
    margin-left: 10%;
}
.single-comment {
    margin: 0.5% 0;
    background: rgb(236, 235, 235);
    margin: 16px 0;
    padding: 12px;
}