// .landing {
//     background-image: url("https://res.cloudinary.com/dendekky/image/upload/c_scale,h_1047,q_60/v1580633211/Beenah's/hannah-jacobson-pTfdcT0hxGc-unsplash_telwfc.jpg");
//     min-height: 100%;
//     min-width: 1024px;
      
//     /* Set up proportionate scaling */
//     width: 100%;
//     height: auto;
      
//     /* Set up positioning */
//     position: fixed;
//     top: 0;
//     left: 0;
// }
// .post-list {

// }

.related-posts {
    padding: 0 15px 0 15px;
    border: 1px solid #55555570;
    .single-post {
        transition: transform 1s;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.comment-title {
    height: 25px;
}
.comment-message {
    display: flex;
    flex-direction: column;
    border: 1px solid #55555570;
    border-radius: 5px;
    p {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}
.reply-input {
    margin-left: 10%;
}
.single-comment {
    margin: 0.5% 0;
}